body{
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#1a1a1a;
    padding:30px;
    border-radius:15px;
    width:300px;
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:10px;
    background:#ffd700;
    border:none;
    cursor:pointer;
    font-weight:bold;
    border-radius:8px;
}

.social{
    margin-top:10px;
}

.social button{
    width:32%;
    margin:2px;
    font-size:12px;
}

.google{ background:#db4437; color:white; }
.facebook{ background:#1877f2; color:white; }
.twitter{ background:#1da1f2; color:white; }

.user-icon{
    color: #ffd700;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #ffd700;
    border-radius: 10px;
}


.no-account{
    text-align:center;
    margin-top:15px;
    color:#fff;
}

.no-account a{
    color:#ffd700;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.no-account a:hover{
    color:#fff;
    text-decoration:underline;
}